body {
  padding: 20px 50px;
}

h4 {
  padding:0;
  margin-top: 7px;
  margin-left: 50px;
  color: #478e95;
}
th {
  text-align: left;
}

td,th {
  padding: 5px;
  text-align: center;
}

.dashboard {
  display: flex;
}

.charts {
  display: flex;
}

.filter-button {
  position: relative;
  z-index: 2;
}


table {
  margin-right: 45px;
}

.filter-button span {
  position: relative;
  z-index: -1;
}

.selected {
  background: #67ced6!important;
}

.dis-select {
  position: absolute!important;
  top: 95px!important;
}
